# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.packages
frontend/pubspec.lock
